<div align="center">
  <h1>Articles Index page!</h1>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Create New Article', new_article_path %>

  <%= will_paginate @all_articles %>
  <%= render 'articles', obj: @all_articles %>
</div>