<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h1>Welcome to Blog! Hurrah!!!!</h1>
    <%= link_to 'About', about_path, class: "btn btn-xs btn-secondary" %>
    <%= link_to 'Articles', articles_path, class: "btn btn-xs btn-primary" %>
  </div>
</div>